<div class="container">
    <span ng-if="!infoCtrl.user" class="help-block">Not Signed Up Yet.
        <a ui-sref="public.signup">Sign Up Now!</a>
    </span>
    <div class="col-md-6 col-md-offset-3" ng-if="infoCtrl.user">
        <h2>My Info</h2>
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="infoCtrl.user.firstName" disabled/>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" name="lastName" id="lastName" class="form-control" ng-model="infoCtrl.user.lastName" disabled/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="infoCtrl.user.email" disabled/>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" name="phone" id="phone" class="form-control" ng-model="infoCtrl.user.phone" disabled/>
            </div>
            <div class="form-group">
                <label for="favorite">Favorite Dish</label>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="menu-item-photo">
                            <div>{{infoCtrl.user.item.short_name}}</div>
                            <img class="img-responsive" width="250" height="150" ng-src="{{infoCtrl.basePath}}/images/{{infoCtrl.user.item.short_name}}.jpg" alt="{{infoCtrl.user.item.name}}">
                        </div>
                    </div>
                    <div class="menu-item-description col-sm-7">
                        <h3 class="menu-item-title">{{infoCtrl.user.item.name}}</h3>
                        <p class="menu-item-details">{{infoCtrl.user.item.description}}</p>
                    </div>
                </div>
            </div>
              <div class="form-group">Note: To remove the registered user info., please clear browser cache</div>
        </div>

    </div>
